<!DOCTYPE html>
<html>
<head>
<title>
<%= name %>
</title>
<meta charset="utf-8">
<style>
 body {margin:3%;}
 tw-storydata {display:none;}
 span#stats {font-style:italic;}
 label {white-space:nowrap;}
</style>
<%= vizScript %>
</head>
<body>
	<h1>DotGraph Proofing Format</h1>
	<div>
		If rendering of the graph fails (i.e., you only see the dot source file) or you need the output in a different format, the dot source can also be rendered using the free desktop program <a href="http://www.graphviz.org/">Graphviz</a>, or rendered online at <a href="http://stamm-wilbrandt.de/GraphvizFiddle/">GraphvizFiddle</a> or <a href="http://www.webgraphviz.com">WebGraphviz</a>.
	</div>
	<h2>Graph</h2>
	<div style="font-size:smaller;width:45%; float:right;">
		Notes:  When color is on, nodes that are linked but do not exist are colored white.  When color by length is on, all other nodes are colored in shades of red (shorter than average) to blue (longer than average) based on the relative length of their contents.  The cluster and color by tag options use the first tag on each passage.<br/>The start node is double-circled.  Optional detection of an "End" tag changes the shape of "End" passages to an egg.  Optional detection of a "checkpoint" tag changes the shape of checkpoint passages to a diamond.  Disconnected nodes have diagonals.  Stray or misplaced nodes tend to indicate duplicate passage names or other linking issues.<br/>The image format is SVG.
	</div>
	<div>
		<span id="stats">
			<span id="nodeCount">0</span>&nbsp;nodes, 
			<span id="leafCount">0</span>&nbsp;leaves<span id="looseCount"></span>,
			<span id="linkCount">0</span>&nbsp;links, and
			<span id="average">0</span>&nbsp;links&nbsp;per&nbsp;node.
		</span><br/>
		<form id="settingsForm">
			<input type="checkbox" id="nodeCheckbox"/>&nbsp;<label for="nodeCheckbox">Show node names</label> (always visible on hover)<br />
			<input type="radio" id="colorCheckbox0" name="colorCheckbox" value="none"/>&nbsp;<label for="colorCheckbox0">Black & white</label>
			<input type="radio" id="colorCheckbox1" name="colorCheckbox" value="node" checked/>&nbsp;<label for="colorCheckbox1">Color by node length</label>
			<input type="radio" id="colorCheckbox2" name="colorCheckbox" value="tag"/>&nbsp;<label for="colorCheckbox2">Color by tag</label><br/>
			<input type="radio" id="rotateCheckbox0" name="rotateCheckbox" value="TB" checked/>&nbsp;<label for="rotateCheckbox0">Top&rarr;bottom</label>
			<input type="radio" id="rotateCheckbox1" name="rotateCheckbox" value="LR"/>&nbsp;<label for="rotateCheckbox1">left&rarr;right</label>
			<input type="radio" id="rotateCheckbox2" name="rotateCheckbox" value="BT"/>&nbsp;<label for="rotateCheckbox2">bottom&rarr;top</label>
			<input type="radio" id="rotateCheckbox3" name="rotateCheckbox" value="RL"/>&nbsp;<label for="rotateCheckbox3">right&rarr;left</label><br/>
			<input type="checkbox" id="checkpointsCheckbox" checked/>&nbsp;<label for="checkpointsCheckbox">Detect checkpoint tags</label>
			<input type="checkbox" id="endsCheckbox" checked/>&nbsp;<label for="endsCheckbox">Detect end tags</label><br/>
			<input type="checkbox" id="clusterCheckbox"/>&nbsp;<label for="clusterCheckbox">Cluster by tags</label><br/>
			<input type="checkbox" id="scaleCheckbox" checked/>&nbsp;<label for="scaleCheckbox">Scale to fit page</label><br/>
		</form>
		<button type="button" id="saveSvgButton">Save Image</button><br/>
	</div>
	<div id="graph" style="clear:both;"></div>
	<h2>Dot Source</h2>
	<button type="button" id="editButton">Redraw with edits</button>
	<button type="button" id="saveDotButton">Save Source</button><br/>
	
	<textarea id="dotfile" style="width:100%;"></textarea>
	
<%= passages %>

<%= script %>
</body>
</html>
